@font-face {
  font-family: "Mazin Black";
  src: url("./font/Mazin_Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazin Black Italic";
  src: url("./font/Mazin_Black_Italic.ttf");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mazin Extra Bold";
  src: url("./font/Mazin_ExtraBold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazin Bold Italic";
  src: url("./font/Mazin_Bold_Italic.ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mazin Regular";
  src: url("./font/Mazin_Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazin Thin";
  src: url("./font/Mazin_Thin.ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazin Medium";
  src: url("./font/Mazin_Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazin Extra Bold Italic";
  src: url("./font/Mazin_ExtraBold_Italic.ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mazin Bold";
  src: url("./font/Mazin_Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazin Semi Bold Italic";
  src: url("./font/Mazin_SemiBold_Italic.ttf");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mazin Light Italic";
  src: url("./font/Mazin_ExtraLight_Italic.ttf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mazin Italic";
  src: url("./font/Mazin_Regular_Italic.ttf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mazin Extra Light";
  src: url("./font/Mazin_ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazin Light";
  src: url("./font/Mazin_Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazin Semi Bold";
  src: url("./font/Mazin_SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazin Thin Italic";
  src: url("./font/Mazin_Thin_Italic.ttf");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mazin Medium Italic";
  src: url("./font/Mazin_Medium_Italic.ttf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mazin Extra Light Italic";
  src: url("./font/Mazin_ExtraLight_Italic.ttf");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Mazin Medium", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #050401;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Mazin Bold";
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
}

button {
  box-shadow: none;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
}

.cta-button {
  background-color: #ff2d6b;
  color: #050401;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-family: "Mazin Bold";
}

.border-button {
  border: 2px solid #ff2d6b;
  text-transform: uppercase;
  font-family: "Mazin Bold";
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
  color: #ff2d6b;
}

.input-fields input[type="text"],
.create-form-inputs input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #4a4a4a;
  color: #ff2d6b;
  font-size: 3.5rem;
  font-family: "Mazin Bold";
  text-align: center;
  text-transform: uppercase;
}

.input-fields input[type="text"]:focus,
.create-form-inputs input[type="text"]:focus {
  outline: none;
  border-bottom: 3px solid #ff2d6b;
}

.text-italics {
  font-family: "Mazin Italic";
}

#disabled {
  border: 1px solid #5c5b59;
  color: #5c5b59;
  cursor: not-allowed;
}
